<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/fontaine.jpg);">
  <div class="container">
    <h1>Yoga Bee is your first choice when it comes to picking your yoga retreat location </h1>
    <div class="container">
      <%= render 'shared/form' %>
</div>
  </div>
</div>


