<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/fontaine.jpg);">
  <div class="container">
    <h1>Organise your next <strong>retreat</strong> with <strong>Yoga Bee</strong>!</h1>
    <p>Don't waste time looking for the right place, it is right here</p>
    <br>
      <div class="container">
        <%= render 'shared/form' %>
      </div>
    </div>
