.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background ease;
  height: 55px;
}

.navbar-lewagon-white {
  background-color: white;
}

#logo {
  height: 60px;
  width: 125px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
