<div class="container">
<h2>All Our Available destinations</h2>
<ul>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, location_path(location) %> </li>
  <% end %>
</ul>
</div>
